html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #EEE;
    text-align: right;
}

.container {
    width: auto;
    max-width: 1024px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

#fancyTop {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: red;
    min-height: 5px;
}

.clickable {
    cursor: pointer;
}
