html {
    min-height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 12px;
}

.minw300 {
    min-width: 300px;
}
.maxw500{
    max-width: 500px;
}
.footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a.tile {
    text-decoration: none;
    color: #000;
}
.tile {
    width: 300px;
    padding: 12px;
}

#fancyTop {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: red;
    min-height: 5px;
}